* {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column
}

.header-user-container {
  margin: 12px;
  display: flex;
  justify-content: flex-end  
}

.header-botones-container {
  display: flex;
  justify-content: flex-end
}

.header-button {
  margin: 12px;
}

.display-none {
  display: none;
}

.no-decoration-text {
  text-decoration: none;
}
